logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!yarn.lock
#*.js
!.autod.conf.js

# custom
test.*
!database/**/*.js
!app/model/*.js

# app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
